.home{
  min-height: 100vh;
  border-left: 2px solid rgb(255, 196, 0);
}

.home-my-row{
  height: 100vh;
}

.home-title{
  margin-top: 15%;
  margin-left: 15%;
  font-size: 80px;
  font-weight: bold;
}

.home-sub-title{
  margin-left: 15%;
  font-size: 30px;
  font-weight: bold;
}

.home-description{
  margin-top: 3%;
  margin-left: 15%;
  opacity: 0.7;
  font-size: 20px;
  text-align: justify;
}

.arrow{
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 300%;
  padding: 20px;
  z-index: 100;
}

.arrow i{
  color: aliceblue;
}

@media screen and (max-width: 600px) {
  .home-title {
    font-size: 30px;
    margin:60% 0 0 5%;
  }

  .home-sub-title{
    font-size: 20px;
    margin-left: 5%;
  }

  .home-description{
    font-size: 10px;
    margin-left: 5%;
  }
}

@keyframes jump { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
.arrow {
  animation: jump .9s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}